<section class="contacto-section" id="contacto">
  <h3 class="section-title">Contacto</h3>
  <div class="container landing-contacto">
    <a
      href="https://www.google.com/maps/place/Arimana+Bazar+Ica/data=!4m2!3m1!1s0x0:0x83846750b9029d09?sa=X&ved=1t:2428&ictx=111"
      target="_blank"
    >
      <span>Av. Industrial H15, Ica 11000</span>
      <img src="/images/map.png" alt="Encuentra Arimana Bazar" />
    </a>
  </div>
</section>
