<header class="header">
  <img
    class="hero-image"
    src="/images/arimana-gift.png"
    alt="Regalo Arimana Bazar"
  />
  <div class="header-start">
    <h1>Arimana Bazar</h1>
  </div>

  <div class="header-bottom">
    <div class="header-info">
      <div class="info-content">
        <p>
          <i class="fa-solid clock"></i>
          Atención
        </p>
        <p>De Lunes a Domingo</p>
      </div>
      <div class="info-content">
        <p>
          <i class="fa-solid clock"></i>
          Horario
        </p>
        <p>7:00 am — 9:30 pm</p>
      </div>
    </div>

    <div class="header-social">
      <a href="">
        <i class="fa-brands fa-facebook"></i>
        <span>Facebook</span>
      </a>
      <a href="">
        <i class="fa-brands fa-instagram"></i>
        <span>Instagram</span>
      </a>
    </div>
  </div>
</header>
