<nav class="navbar">
  <div class="nav-start">
    <div class="nav-logo">
      <img src="/images/logo.svg" alt="Logo Ariamana Bazar" />
      <span>Arimana Bazar</span>
    </div>

    <ul class="nav-list">
      <li>
        <a href="#productos">Productos</a>
      </li>
      <li>
        <a href="">Categorías</a>
      </li>
      <li>
        <a href="">Nosotros</a>
      </li>
      <li>
        <a href="">Contacto</a>
      </li>
    </ul>
  </div>

  <div class="nav-sesion">
    <a href="/login">
      <i class="fa-solid fa-arrow-right"></i>
      Iniciar sesión
    </a>
  </div>
</nav>
