<footer class="landing-footer">
  <div class="container">
    <div class="footer-title-content">
      <img src="/images/logo.svg" alt="" />
      <strong>Gracias por confiar en nosotros</strong>
      <p>
        Trabajamos cada día para ofrecerte productos únicos, con el cariño y
        detalle que mereces.
      </p>
    </div>
    <div class="footer-info-content">
      <div class="autores-info-content">
        <div class="autores-info-col">
          <b>Desarrolladores \</b>
          <div class="info-list">
            <a href="mailto:paul.barahona@upsjb.edu.pe">
              Barahona Figueroa Paul Alexis
            </a>
            <a href="mailto:Wilian.Chipana@upsjb.edu.pe">
              Chipana Huamani Wilian Gabriel
            </a>
            <a href="mailto:daniel.huari@upsjb.edu.pe">
              Huari Bobadilla Daniel Javier
            </a>
            <a href="mailto:olenka.munoz@upsjb.edu.pe">
              Muñoz Castro Olenka del Rosario
            </a>
            <a href="mailto:isaura.torres@upsjb.edu.pe">
              Torres Sacha Isaura Isabel
            </a>
          </div>
        </div>

        <div class="autores-info-col">
          <b>Organización \</b>
          <div class="info-list">
            <a
              href="https://www.upsjb.edu.pe/pregrado/facultad-de-ingenierias/"
              target="_blank"
            >
              Facultad de Ingenierías
            </a>
            <a
              href="https://www.upsjb.edu.pe/pregrado/facultad-de-ingenierias/ingenieria-de-sistemas/"
              target="_blank"
            >
              Ingeniería en Sistemas
            </a>
            <a href="mailto:luis.castillon@upsjb.edu.pe" target="_blank">
              Ing. Castillon Siguas Luis Alfredo
            </a>
            <span> Filial Ica \ V Ciclo </span>
            <span> 2025-01 </span>
          </div>
        </div>

        <div class="autores-info-col">
          <b>Contacto \</b>
          <div class="info-list">
            <a href="mailto:bazararimana@gmail.com"> bazararimana@gmail.com </a>
            <a href="https://wa.me/+51944920774"> +51 944 920 774 </a>
            <div class="social">
              <a
                href="https://web.facebook.com/arimanabazarica/"
                target="_blank"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a
                href="https://www.instagram.com/arimanabazarica/"
                target="_blank"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="patrocinadores-content">
        <a href="">
          <img src="/images/logo.svg" alt="" />
          Arimana Bazar
        </a>
        •
        <a href="https://www.upsjb.edu.pe/" target="_blank">
          <img src="/images/logo-upsjb.webp" alt="" />
        </a>
      </div>

      <div class="copyright">
        <p>&copy; Copyright 2025 | Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
