<section class="manuales-section" id="manuales">
  <h3 class="section-title">Documentación</h3>
  <ul class="container manuales-cards">
    <li>
      <a class="manual-card" href="docs/MANUAL_PROGRAMADOR.pdf" download>
        <img src="/images/MANUAL_PROGRAMADOR.jpg" alt="" />
        <b>
          <i class="fa-solid fa-code"></i>
          <span>Manual del Programador</span>
        </b>
        <p>Guía técnica para configurar, mantener y desarrollar el sistema.</p>
      </a>
    </li>

    <li>
      <a class="manual-card" href="docs/MANUAL_USUARIO.pdf" download>
        <img src="/images/MANUAL_USUARIO.jpg" alt="" />
        <b>
          <i class="fa-solid fa-user"></i>
          <span>Manual del Usuario</span>
        </b>
        <p>Instrucciones paso a paso para el uso general del sistema.</p>
      </a>
    </li>
  </ul>
</section>
