---
import Diamond from "@/icons/Diamond.astro";
import Target from "@/icons/Target.astro";
---

<section class="nosotros-section" id="nosotros">
  <h3 class="section-title">Nosotros</h3>
  <div class="container landing-nosotros">
    <div class="nosotros-card">
      <div class="card-image">
        <div class="icon">
          <Target />
        </div>
        <b>Visión</b>
      </div>
      <div class="card-content">
        <p>
          Ser la franquicia N° 01 en el rubro de Bazar, así mismo, brindar una
          oportunidad de trabajo y logro de metas de nuestros colaboradores.
        </p>
      </div>
    </div>
    <div class="nosotros-card">
      <div class="card-image">
        <div class="icon">
          <Diamond />
        </div>
        <b>Misión</b>
      </div>
      <div class="card-content">
        <p>
          Dar la mejor atención y asesoría a nuestros clientes, quienes se
          preparan para asistir a los momentos más memorables de sus vidas.
        </p>
      </div>
    </div>
  </div>
</section>
