---
interface Columna {
  label: string;
  key: string;
}

const props = Astro.props as {
  columnas: Columna[];
  datos: any[];
};

const { columnas, datos } = props;
---

<article class="table-container">
  <table class="table">
    <thead>
      <tr>
        {columnas.map((col) => <th>{col.label}</th>)}
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {
        datos.map((fila) => (
          <tr>
            {columnas.map((col) => (
              <td data-register={fila[col.key]}>
                <span>{fila[col.key]}</span>
              </td>
            ))}
            <td>
              <div class="actions">
                <button class="btn btn-edit">
                  <i class="fa-solid fa-edit" />
                </button>
                <button class="btn btn-delete">
                  <i class="fa-solid fa-trash" />
                </button>
              </div>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</article>
