---
import Avatar from "@/icons/Avatar.astro";
import Carpeta from "@/icons/Carpeta.astro";
import Configuracion from "@/icons/Configuracion.astro";
import Empleados from "@/icons/Empleados.astro";
import Inventarios from "@/icons/Inventarios.astro";
import Panel from "@/icons/Panel.astro";
import Pedidos from "@/icons/Pedidos.astro";
import Principal from "@/icons/Principal.astro";
import Relaciones from "@/icons/Relaciones.astro";
import Ventas from "@/icons/Ventas.astro";

const { activeSection } = Astro.props;
---

<aside class="sidebar">
  <div class="sidebar-header">
    <img src="/images/logo.svg" alt="logo" />
    <div class="separador-h"></div>

    <a
      class=`sidebar-link ${activeSection === 'principal' ? 'active' : ''}`
      href="/panel"
    >
      <Principal />
    </a>
    <!-- <a
      class=`sidebar-link ${activeSection === 'panel' ? 'active' : ''}`
      href="/panel/panel"
    >
      <Panel />
    </a> -->
    <a
      class=`sidebar-link ${activeSection === 'reportes' ? 'active' : ''}`
      href="/panel/reporte-ventas"
    >
      <Panel />
    </a>
    <div class="separador-h"></div>

    <a
      class=`sidebar-link ${activeSection === 'relaciones' ? 'active' : ''}`
      href="/panel/personas"
    >
      <Relaciones />
    </a>
    <a
      class=`sidebar-link ${activeSection === 'empleados' ? 'active' : ''}`
      href="/panel/empleados"
    >
      <Empleados />
    </a>
    <a
      class=`sidebar-link ${activeSection === 'usuarios' ? 'active' : ''}`
      href="/panel/usuarios"
    >
      <Carpeta />
    </a>
    <a
      class=`sidebar-link ${activeSection === 'pedidos' ? 'active' : ''}`
      href="/panel/pedidos"
    >
      <Pedidos />
    </a>
    <a
      class=`sidebar-link ${activeSection === 'productos' ? 'active' : ''}`
      href="/panel/productos"
    >
      <Inventarios />
    </a>
    <a
      class=`sidebar-link ${activeSection === 'ventas' ? 'active' : ''}`
      href="/panel/ventas"
    >
      <Ventas />
    </a>
  </div>

  <div class="sidebar-footer">
    <a
      class=`sidebar-link ${activeSection === 'nosotros' ? 'active' : ''}`
      href="/panel/nosotros"
    >
      <Configuracion />
    </a>
    <div class="separador-h"></div>
    <a
      class=`sidebar-link ${activeSection === 'perfil' ? 'active' : ''}`
      href="/panel/perfil"
    >
      <Avatar />
    </a>
  </div>
</aside>
