---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { gestionInventariosSections } from "@/data/NavbarSections";
import PanelMain from "@/components/PanelMain.astro";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelTable from "@/components/PanelTable";

import { ALMACENES } from "@/data/Almacenes";
const columnasAlmacenes = [
  { label: "COD", key: "idAlmacen" },
  { label: "Nombre", key: "numAlmacen" },
  { label: "Cantidad", key: "cantidad" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="productos" />
  <Navbar
    slot="navbar"
    title="Gestión de inventarios"
    sections={gestionInventariosSections}
  />

  <PanelMain slot="main">
    <PanelHeader
      title="Almacenes"
      descripcion="Administra los lugares de almacenamiento físico de los productos."
    />

    <section class="panel-body" id="almacenesSection">
      <article class="controles">
        <label class="controles-label" for="buscarAlmacenes">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            name="buscarAlmacenes"
            id="buscarAlmacenes"
            placeholder="Buscar por nombre"
          />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirAlmacenes">
            <i class="fa-solid fa-plus"></i>
            Añadir almacén
          </button>
        </div>
      </article>

      <PanelTable
        columnas={columnasAlmacenes}
        datos={ALMACENES}
        client:only="react"
      />
    </section>

    <dialog class="base-dialog" id="modalAlmacen">
      <form method="dialog" class="base-form" id="almacenForm">
        <h2>Registrar nuevo almacén</h2>

        <div class="form-content">
          <div class="form-group">
            <label for="numalmacen">Número de almacen:</label>
            <input
              type="number"
              id="numalmacen"
              name="numalmacen"
              min="1"
              required
            />
          </div>

          <div class="dialog-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="cerrar-btn" id="cerrarModal"
              >Cancelar</button
            >
          </div>
        </div>
      </form>
    </dialog>
  </PanelMain>
</PanelLayout>

<script>
  import Swal from "sweetalert2";

  document.addEventListener("DOMContentLoaded", () => {
    const btnAbrir = document.getElementById("anadirAlmacenes");
    const modal = document.getElementById("modalAlmacen") as HTMLDialogElement;
    const btnCerrar = document.getElementById("cerrarModal");

    const numalmacen = (
      document.getElementById("numalmacen") as HTMLInputElement
    ).value;

    btnAbrir?.addEventListener("click", () => {
      if (modal.showModal) {
        modal.showModal();
      } else {
        modal.setAttribute("open", "true");
      }
    });

    btnCerrar?.addEventListener("click", () => {
      modal.close();
      (document.getElementById("numalmacen") as HTMLInputElement).value = "";
    });

    document
      .getElementById("almacenForm")!
      .addEventListener("submit", function (e) {
        e.preventDefault();
        const numalmacen = (
          document.getElementById("numalmacen") as HTMLInputElement
        ).value;

        console.log({ numalmacen, estado: 1 });

        modal.close();
        Swal.fire({
          title: "Almacén registrado con éxito!",
          icon: "success",
        });

        (document.getElementById("numalmacen") as HTMLInputElement).value = "";
      });
  });
</script>
