---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { recursosHumanosSections } from "@/data/NavbarSections";
import PanelMain from "@/components/PanelMain.astro";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelTable from "@/components/PanelTable.astro";

import { CARGOS } from "@/data/Cargos";
const columnasCargos = [
  { label: "COD", key: "idCargo" },
  { label: "Nombres", key: "nombreCargo" },
  { label: "Descripción", key: "descripcion" },
  { label: "Cantidad", key: "cantidad" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="empleados" />
  <Navbar
    slot="navbar"
    title="Recursos humanos"
    sections={recursosHumanosSections}
  />
  <PanelMain slot="main">
    <PanelHeader
      title="Cargos"
      descripcion="Gestiona puestos de trabajo disponibles en la oganización."
    />

    <section class="panel-body" id="cargosSection">
      <article class="controles">
        <label class="controles-label" for="buscarCargos">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            name="buscarCargos"
            placeholder="Buscar por cargo"
            id=""
          />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirCargos">
            <i class="fa-solid fa-plus"></i>
            Añadir cargo
          </button>
        </div>
      </article>

      <PanelTable columnas={columnasCargos} datos={CARGOS} />
    </section>

    <dialog class="base-dialog" id="modalCargo">
      <form method="dialog" class="base-form" id="cargosForm">
        <h2>Registrar nuevo cargo</h2>

        <div class="form-content">
          <div class="form-group">
            <label for="cargo">Cargo:</label>
            <input
              type="text"
              id="cargo"
              name="cargo"
              maxlength="200"
              required
            />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea
              id="descripcion"
              name="descripcion"
              maxlength="250"
              required></textarea>
          </div>

          <div class="dialog-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="cerrar-btn" id="cerrarModal"
              >Cancelar</button
            >
          </div>
        </div>
      </form>
    </dialog>
  </PanelMain>
</PanelLayout>

<script>
  import Swal from "sweetalert2";

  document.addEventListener("DOMContentLoaded", () => {
    const btnAbrir = document.getElementById("anadirCargos");
    const modal = document.getElementById("modalCargo") as HTMLDialogElement;
    const btnCerrar = document.getElementById("cerrarModal");

    btnAbrir?.addEventListener("click", () => {
      modal.showModal();
    });

    btnCerrar?.addEventListener("click", () => {
      modal.close();
      (document.getElementById("cargo") as HTMLInputElement).value = "";
      (document.getElementById("descripcion") as HTMLInputElement).value = "";
    });

    document
      .getElementById("cargosForm")!
      .addEventListener("submit", function (e) {
        e.preventDefault();

        const cargo = (document.getElementById("cargo") as HTMLInputElement)
          .value;
        const descripcion = (
          document.getElementById("descripcion") as HTMLTextAreaElement
        ).value;

        console.log({ cargo, descripcion, estado: 1 });

        modal.close();
        Swal.fire({
          title: "Cargo registrado con éxito!",
          icon: "success",
        });

        (document.getElementById("cargo") as HTMLInputElement).value = "";
        (document.getElementById("descripcion") as HTMLInputElement).value = "";
      });
  });
</script>
