---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { gestionInventariosSections } from "@/data/NavbarSections";
import PanelMain from "@/components/PanelMain.astro";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelTable from "@/components/PanelTable.astro";

import { CATEGORIAS } from "@/data/Categorias";
const columnasCategorías = [
  { label: "COD", key: "cod" },
  { label: "Categoría", key: "nombre" },
  { label: "Cantidad", key: "cantidad" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="productos" />
  <Navbar
    slot="navbar"
    title="Gestión de inventarios"
    sections={gestionInventariosSections}
  />
  <PanelMain slot="main">
    <PanelHeader
      title="Categorías"
      descripcion="Administra la clasificación de productos del inventarios."
    />

    <section class="panel-body" id="categoriasSection">
      <article class="controles">
        <label class="controles-label" for="buscarCategorias">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            name="buscarCategorias"
            id=""
            placeholder="Buscar por nombre"
          />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirCategorias">
            <i class="fa-solid fa-plus"></i>
            Añadir categoría
          </button>
        </div>
      </article>

      <PanelTable columnas={columnasCategorías} datos={CATEGORIAS} />
    </section>
  </PanelMain>
</PanelLayout>
