---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { recursosHumanosSections } from "@/data/NavbarSections";
import PanelMain from "@/components/PanelMain.astro";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelTable from "@/components/PanelTable";

import { CONTRATOS } from "@/data/Contratos";
const columnasContratos = [
  { label: "COD", key: "idContrato" },
  { label: "Contrato", key: "nombre" },
  { label: "Cantidad", key: "cantidad" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="empleados" />
  <Navbar
    slot="navbar"
    title="Recursos humanos"
    sections={recursosHumanosSections}
  />
  <PanelMain slot="main">
    <PanelHeader
      title="Contratos"
      descripcion="Gestiona los contratos con los trabajadores de la organización."
    />

    <section class="panel-body" id="contratosSection">
      <article class="controles">
        <label class="controles-label" for="buscarContratos">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            name="buscarContratos"
            id="buscarContratos"
            placeholder="Buscar por contrato"
          />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirContratos">
            <i class="fa-solid fa-plus"></i>
            Añadir contrato
          </button>
        </div>
      </article>

      <PanelTable
        columnas={columnasContratos}
        datos={CONTRATOS}
        client:only="react"
      />
    </section>

    <dialog class="base-dialog" id="modalContrato">
      <form method="dialog" class="base-form" id="contratosForm">
        <h2>Registrar nuevo contrato</h2>

        <div class="form-content">
          <div class="form-group">
            <label for="contrato">Contrato:</label>
            <input
              type="text"
              id="contrato"
              name="contrato"
              maxlength="100"
              required
            />
          </div>

          <div class="dialog-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="cerrar-btn" id="cerrarModal"
              >Cancelar</button
            >
          </div>
        </div>
      </form>
    </dialog>
  </PanelMain>
</PanelLayout>

<script>
  import Swal from "sweetalert2";

  document.addEventListener("DOMContentLoaded", () => {
    const btnAbrir = document.getElementById("anadirContratos");
    const modal = document.getElementById("modalContrato") as HTMLDialogElement;
    const btnCerrar = document.getElementById("cerrarModal");

    btnAbrir?.addEventListener("click", () => {
      if (modal.showModal) {
        modal.showModal();
      } else {
        modal.setAttribute("open", "true");
      }
    });

    btnCerrar?.addEventListener("click", () => {
      modal.close();
      (document.getElementById("contrato") as HTMLInputElement).value = "";
    });

    document
      .getElementById("contratosForm")!
      .addEventListener("submit", function (e) {
        e.preventDefault();

        const contrato = (
          document.getElementById("contrato") as HTMLSelectElement
        ).value;

        console.log({ contrato, estado: 1 });

        modal.close();
        Swal.fire({
          title: "Contrato registrado con éxito!",
          icon: "success",
        });

        (document.getElementById("contrato") as HTMLInputElement).value = "";
      });
  });
</script>
