---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { relacionesComercialesSections } from "@/data/NavbarSections";
import PanelMain from "@/components/PanelMain.astro";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelTable from "@/components/PanelTable.astro";

import { EMPRESAS } from "@/data/Empresas";
const columnasEmpresas = [
  { label: "COD", key: "idEmpresa" },
  { label: "Distrito", key: "nombreDistrito" },
  { label: "Razón Social", key: "razonSocial" },
  { label: "RUC", key: "ruc" },
  { label: "Dirección", key: "direccion" },
  { label: "Teléfono", key: "telefono" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="relaciones" />
  <Navbar
    slot="navbar"
    title="Relaciones comerciales"
    sections={relacionesComercialesSections}
  />

  <PanelMain slot="main">
    <PanelHeader
      title="Empresas"
      descripcion="Gestiona los datos de entidades comerciales asociadas con el negocio."
    />

    <section class="panel-body">
      <article class="controles">
        <label class="controles-label" for="buscarEmpresas">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            name="buscarEmpresas"
            id="buscarEmpresas"
            placeholder="Buscar por RUC o Razón social"
          />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirEmpresas">
            <i class="fa-solid fa-plus"></i>
            Añadir empresas
          </button>
        </div>
      </article>

      <PanelTable columnas={columnasEmpresas} datos={EMPRESAS} />
    </section>
  </PanelMain>
</PanelLayout>
