---
import SimplePanelLayout from "@/layouts/SimplePanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
---

<SimplePanelLayout>
  <Sidebar slot="sidebar" activeSection="panel" />
  <div>Bienvenido al panel de estadísticas ✨</div>
</SimplePanelLayout>
