---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { configuracionesSections } from "@/data/NavbarSections";
import LogoutAccess from "@/components/LogoutAccess";
import Logout from "@/icons/Logout.astro";
import PanelMain from "@/components/PanelMain.astro";
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="perfil" />
  <Navbar
    slot="navbar"
    title="Configuraciones"
    sections={configuracionesSections}
  />
  <PanelMain slot="main">
    <section class="panel-header">
      <article class="header-text">
        <h1>Perfil de usuario</h1>
        <p>
          Administra la personal del sistema y los datos del usuario actual.
        </p>
      </article>

      <button id="cerrarSesion">
        <Logout />
        Cerrar sesión
      </button>
      <LogoutAccess client:load />
    </section>

    <div class="panel-body" id="perfilSection">
      <div class="profile-content">
        <label>
          <span>Nombre</span>
          <input type="text" id="usuNombres" readonly />
        </label>

        <label>
          <span>DNI</span>
          <input type="text" id="usuDni" readonly />
        </label>

        <label>
          <span>Teléfono</span>
          <input type="text" id="usuTelefono" readonly />
        </label>

        <label>
          <span>Dirección</span>
          <input type="text" id="usuDireccion" readonly />
        </label>

        <label>
          <span>Salario</span>
          <input type="text" id="usuSalario" readonly />
        </label>

        <label>
          <span>Turno</span>
          <input type="text" id="usuTurno" readonly />
        </label>

        <label>
          <span>Cargo</span>
          <input type="text" id="usuCargo" readonly />
        </label>

        <label>
          <span>Contrato</span>
          <input type="text" id="usuContrato" readonly />
        </label>

        <label>
          <span>Tipo de usuario</span>
          <input type="text" id="usuTipoUsuario" readonly />
        </label>

        <label>
          <span>Correo</span>
          <input type="text" id="usuCorreo" readonly />
        </label>
      </div>
    </div>
  </PanelMain>
</PanelLayout>

<style is:inline>
  #cerrarSesion {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #d80b0b;
    font-size: 16px;
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 500;
    transition: all 200ms ease-in-out;
  }

  #cerrarSesion:hover {
    background-color: #ffe0e0;
    border-color: #df2121;
    box-shadow: 0 2px 8px rgba(209, 209, 209, 0.7);
  }

  .profile-content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .profile-content label span {
    margin-left: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(121, 121, 121);
  }

  .profile-content input {
    padding: 8px 12px;
    border: 1px solid rgba(209, 209, 209, 0.7);
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    transition: all 200ms ease-in-out;
  }

  .profile-content input:focus {
    border-color: rgb(46, 184, 184);
    box-shadow: 0 2px 6px rgba(218, 218, 218, 0.7);
  }
</style>

<script>
  import { PERFIL } from "@/data/Perfil";

  const nombreBuscado = localStorage.getItem("nomUsuario")?.toLowerCase();
  const perfil = PERFIL.find(
    (usu) => usu.nombres.toLowerCase() === nombreBuscado
  );

  (document.getElementById("usuNombres") as HTMLInputElement).value =
    perfil?.nombres ?? "";

  (document.getElementById("usuDni") as HTMLInputElement).value =
    perfil?.dni ?? "";

  (document.getElementById("usuTelefono") as HTMLInputElement).value =
    perfil?.telefono ?? "";

  (document.getElementById("usuDireccion") as HTMLInputElement).value =
    perfil?.direccion ?? "";

  (document.getElementById("usuSalario") as HTMLInputElement).value =
    perfil?.salario ? `${perfil.salario}` : "";

  (document.getElementById("usuTurno") as HTMLInputElement).value =
    perfil?.turno ?? "";

  (document.getElementById("usuCargo") as HTMLInputElement).value =
    perfil?.nombreCargo ?? "";

  (document.getElementById("usuContrato") as HTMLInputElement).value =
    perfil?.nombreContrato ?? "";

  (document.getElementById("usuTipoUsuario") as HTMLInputElement).value =
    perfil?.nombreTipo ?? "";

  (document.getElementById("usuCorreo") as HTMLInputElement).value =
    perfil?.correo ?? "";
</script>
