---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { gestionUsuariosSections } from "@/data/NavbarSections";
import PanelMain from "@/components/PanelMain.astro";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelTable from "@/components/PanelTable.astro";

import { TIPO_USUARIO } from "@/data/TipoUsuario";
const columnasTipoUsuario = [
  { label: "COD", key: "id" },
  { label: "Tipo de usuario", key: "nombre" },
  { label: "Cantidad", key: "cantidad" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="usuarios" />
  <Navbar
    slot="navbar"
    title="Gestión de usuarios"
    sections={gestionUsuariosSections}
  />
  <PanelMain slot="main">
    <PanelHeader
      title="Tipos de usuario"
      descripcion="Controla los permisos de los tipos de usuario del sistema."
    />

    <section class="panel-body" id="tipoUsuarioSection">
      <article class="controles">
        <label class="controles-label" for="buscarTipoUsuario">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            name="buscarTipoUsuario"
            id="buscarTipoUsuario"
            placeholder="Buscar por tipo de usuario"
          />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirTipoUsuario">
            <i class="fa-solid fa-plus"></i>
            Añadir tipo de usuario
          </button>
        </div>
      </article>

      <PanelTable columnas={columnasTipoUsuario} datos={TIPO_USUARIO} />
    </section>

    <dialog class="base-dialog" id="modalTipoUsuario">
      <form method="dialog" class="base-form" id="tipoUsuarioForm">
        <h2>Registrar nuevo tipo de usuario</h2>

        <div class="form-content">
          <div class="form-group">
            <label for="tipoUsuario">Tipo de usuario:</label>
            <input
              type="text"
              id="tipoUsuario"
              name="tipoUsuario"
              maxlength="100"
              required
            />
          </div>

          <div class="dialog-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="cerrar-btn" id="cerrarModal"
              >Cancelar</button
            >
          </div>
        </div>
      </form>
    </dialog>
  </PanelMain>
</PanelLayout>

<script>
  import Swal from "sweetalert2";

  document.addEventListener("DOMContentLoaded", () => {
    const btnAbrir = document.getElementById("anadirTipoUsuario");
    const modal = document.getElementById(
      "modalTipoUsuario"
    ) as HTMLDialogElement;
    const btnCerrar = document.getElementById("cerrarModal");

    btnAbrir?.addEventListener("click", () => {
      if (modal.showModal) {
        modal.showModal();
      } else {
        modal.setAttribute("open", "true");
      }
    });

    btnCerrar?.addEventListener("click", () => {
      modal.close();
      (document.getElementById("tipoUsuario") as HTMLInputElement).value = "";
    });

    document
      .getElementById("tipoUsuarioForm")!
      .addEventListener("submit", function (e) {
        e.preventDefault();

        const tipoUsuario = (
          document.getElementById("tipoUsuario") as HTMLInputElement
        ).value;

        console.log({ tipoUsuario, estado: 1 });

        modal.close();
        Swal.fire({
          title: "Tipo de usuario registrado con éxito",
          icon: "success",
        });

        (document.getElementById("tipoUsuario") as HTMLInputElement).value = "";
      });
  });
</script>
