---
import BaseHead from "@/components/BaseHead.astro";
import "@/css/landing.css";
---

<html lang="es">
  <head>
    <BaseHead title="Arimana Bazar | Página principal" />
  </head>
  <body>
    <slot />
  </body>
</html>
