---
import "@/css/panel.css";
import BaseHead from "@/components/BaseHead.astro";
---

<html lang="es">
  <head>
    <BaseHead title="Panel | Arimana Bazar" />
  </head>
  <body class="withNavbar">
    <slot name="sidebar" />
    <slot name="navbar" />
    <slot name="main" />
  </body>
</html>
