---
import "@/css/panel.css";
import BaseHead from "@/components/BaseHead.astro";
---

<html lang="es">
  <head>
    <BaseHead title="Panel | Arimana Bazar" />

    <script>
      if (localStorage.getItem("isLoggedIn") !== "true") {
        window.location.href = "/login";
      }
    </script>
  </head>
  <body class="withoutNavbar">
    <slot name="sidebar" />
    <main class="main">
      <slot />
    </main>
  </body>
</html>
